.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.body {
  background-color: #202020;
  background-image: linear-gradient(#000, #fff);
}

.image {
  margin: 1% auto;
  display: block;
}

.section {
  color: rgba(0, 0, 0, 0);
}

.dropdown-list {
  background-color: rgba(0, 0, 0, 0);
}

.h3 {
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  font-family: Inter, sans-serif;
  font-size: 2.5vh;
  font-style: italic;
  font-weight: 700;
  line-height: 16px;
}

.nav-link {
  color: #fff;
  letter-spacing: .1em;
  font-family: Inter, sans-serif;
  font-size: 1.5vh;
  font-weight: 700;
}

.nav-link:hover {
  color: rgba(255, 255, 255, .3);
  font-weight: 700;
}

.nav-link.w--current {
  color: #fff;
  letter-spacing: .1em;
  font-size: 1.5vh;
  font-weight: 700;
}

.nav-link.w--current:hover {
  color: rgba(255, 255, 255, .3);
  font-weight: 700;
}

.nav-link-dd-2 {
  color: #fff;
  letter-spacing: .1em;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.5vh;
  font-weight: 700;
}

.nav-link-dd-2:hover {
  color: rgba(255, 255, 255, .3);
  font-weight: 700;
}

.nav-link-dd-2.w--current {
  color: #fff;
  letter-spacing: .1em;
  font-size: 1.5vh;
  font-weight: 700;
}

.nav-link-dd-2.w--current:hover {
  color: rgba(255, 255, 255, .3);
  font-weight: 700;
}

.image-3 {
  width: 45vw;
  max-width: 50vw;
  text-align: center;
  text-shadow: 4px 4px 6px #000;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.link-block-2 {
  text-decoration: none;
}

.background-video {
  height: 50vh;
  max-height: 900px;
  background-image: linear-gradient(rgba(255, 255, 255, .05), rgba(255, 255, 255, .05));
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav-menu {
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  display: flex;
}

.container {
  height: 75vh;
  max-height: 960px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
}

.nav-link-2 {
  color: rgba(0, 0, 0, 0);
  letter-spacing: .1em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.nav-link-2:hover {
  font-weight: 900;
}

.nav-link-2.w--current {
  color: #fff;
  letter-spacing: .1em;
  font-family: Lato, sans-serif;
  font-weight: 700;
}

.nav-link-2.w--current:hover {
  font-weight: 900;
}

.image-4 {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20%;
  display: inline-block;
  position: static;
}

.section-2 {
  min-height: 75vh;
  background-color: #fff;
  background-image: linear-gradient(#000, #9e9e9e);
  justify-content: center;
  margin-bottom: 0;
  display: flex;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.container-2 {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  position: static;
}

.columns {
  width: 100%;
}

.column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  display: flex;
}

.column-2 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  display: flex;
}

.div-block-2 {
  flex-direction: column;
  flex: 0 auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.grid {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.heading {
  color: #fff;
  margin-top: 0;
  font-family: TitleGothic, Arial, sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
}

.paragraph {
  color: #fff;
  text-align: justify;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.section-3 {
  min-height: 60vh;
  background-color: #745fc1;
  background-image: linear-gradient(to top, #0ff, #745fc1 82%);
  padding-top: 5%;
  display: block;
}

.heading-2 {
  width: 430px;
  color: #f27dff;
  text-align: center;
  background-image: linear-gradient(rgba(0, 255, 255, .82), rgba(0, 255, 255, .82));
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-weight: 800;
  transform: rotate(-6deg);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, .4);
}

.collection-list {
  grid-column-gap: 0vw;
  grid-row-gap: 10vh;
  grid-template: ". ."
                 ". ."
                 ". ."
                 "Area Area"
                 / 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  padding-left: 0;
  padding-right: 0;
  display: grid;
}

.collection-list-wrapper {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}

.collection-item {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

.image-5 {
  max-height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  transition: transform .5s;
}

.image-5:hover {
  transform: rotate(360deg)scale(1.1);
}

.container-3 {
  margin-top: 0%;
  margin-bottom: 3%;
}

.div-block-4 {
  background-image: linear-gradient(to top, #000, #9e9e9e);
  padding-top: 2%;
  padding-bottom: 5%;
}

.heading-3 {
  width: 25vw;
  color: #f27dff;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(#fff, #fff);
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat, sans-serif;
  font-size: 2em;
  font-style: italic;
  font-weight: 800;
  text-decoration: none;
  display: block;
  position: relative;
  top: auto;
  bottom: -235px;
  left: 0%;
  right: 0%;
  transform: rotate(-6deg);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .45);
}

.link-block-3 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: flex;
}

.section-20 {
  max-height: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  background-image: radial-gradient(circle at 0 0, #00ffc8, #6a00ff 50%, #7830ff 80%, #09f);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  display: flex;
}

.div-block-31 {
  width: 85vw;
  flex: 0 auto;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.grid-6 {
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  grid-template-rows: auto;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  margin-left: 0;
  margin-right: 0;
}

.image-9 {
  max-height: 75vh;
}

.div-block-19 {
  padding-top: 0;
}

.h6 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 3vh;
  font-weight: 400;
  line-height: 4vh;
  text-decoration: none;
  display: block;
}

.p1 {
  color: #dfdfdf;
  text-align: justify;
  letter-spacing: .05em;
  margin-top: 10px;
  font-size: 1.5vh;
  line-height: 2.5vh;
}

.body-2 {
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(#000, #000);
}

.heading-4 {
  width: 550px;
  color: #f27dff;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(#fff, #fff);
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto 4%;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  text-decoration: none;
  display: block;
  position: relative;
  top: auto;
  bottom: 0;
  left: 0%;
  right: 0%;
  transform: rotate(-6deg);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .45);
}

.section-21 {
  min-height: 40vh;
  background-image: linear-gradient(#0ff, #5bffdb 62%, #c379ff);
  padding-bottom: 5%;
}

.h5 {
  color: #fff;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
}

.heading-5 {
  width: 340px;
  color: #f27dff;
  text-align: center;
  background-image: linear-gradient(#6a00ff, #6a00ff);
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-size: 3em;
  font-style: italic;
  font-weight: 800;
  line-height: 1.5em;
  transform: rotate(-6deg);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, .4);
}

.grid-7 {
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
}

.list {
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 0;
}

.heading-6 {
  color: #6a00ff;
  border: 1px #000;
  font-family: Montserrat, sans-serif;
  font-size: 2.5em;
  text-decoration: none;
}

.section-22 {
  min-height: 50vh;
  background-image: linear-gradient(#c379ff, #000);
  padding-bottom: 4%;
}

.button {
  width: 30vw;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat, sans-serif;
  font-size: 3em;
  font-weight: 800;
  line-height: 2em;
  transition: transform .4s;
  display: flex;
  transform: rotate(-6deg);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .18);
}

.button:hover {
  transform: scale(1.3);
}

.button-2 {
  width: 10vw;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  font-weight: 800;
  line-height: 1em;
  display: flex;
  transform: rotate(-6deg);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .18);
}

.div-block-32 {
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  display: flex;
}

.heading-7 {
  color: #fff;
  text-align: center;
  margin-top: 15%;
}

.form-block {
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.field-label, .field-label-2 {
  color: #fff;
}

.container-4 {
  padding-left: 4%;
  padding-right: 4%;
}

.field-label-3 {
  color: #fff;
}

.submit-button {
  background-color: #f472fd;
}

.div-block-33 {
  height: 200px;
  background-color: #000;
}

.paragraph-2 {
  text-align: center;
  margin-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.list-2 {
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-left: 0;
  display: flex;
}

.link-block-4 {
  width: 32px;
  height: 32px;
  max-height: 32px;
  background-image: url('../images/discord-icon-43736.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 40px;
}

.link-block-5 {
  width: 32px;
  height: 32px;
  max-height: 32px;
  background-image: url('../images/twitter.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.bold-text {
  color: #00ff37;
}

.link {
  width: 100%;
  color: #fff;
  text-align: center;
  text-transform: lowercase;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat, sans-serif;
  font-size: 1.2em;
  display: block;
}

.link:hover {
  color: #fb94ff;
}

.link:active {
  color: #fff;
}

.h1 {
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, .4);
  -webkit-text-fill-color: inherit;
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: scroll;
  background-clip: border-box;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  font-family: TitleGothic, Arial, sans-serif;
  font-size: 7vh;
  font-style: normal;
  font-weight: 700;
  line-height: 8vh;
}

.section-23 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, .25), #000), url('../images/VOXBANNER2022.png');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.h2 {
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, .4);
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  font-family: TitleGothic, Arial, sans-serif;
  font-size: 5vh;
  font-style: normal;
  font-weight: 700;
  line-height: 8vh;
}

.hb {
  color: #fff;
  font-family: TitleGothic, Arial, sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
}

.paragraph-copy {
  color: #fff;
  text-align: left;
  margin-bottom: 36px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.newlink {
  color: #fff;
}

.div-block-5 {
  background-image: linear-gradient(#000, #9e9e9e);
  padding-top: 2%;
  padding-bottom: 5%;
}

.grid-1 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.image-10 {
  max-width: 100%;
  min-height: 420px;
}

.grid-3 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
}

.p3 {
  color: #fff;
  text-align: left;
  margin-bottom: 36px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.h3-copy {
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  font-family: Inter, sans-serif;
  font-size: 2.5vh;
  font-style: italic;
  font-weight: 700;
  line-height: 3vh;
}

.image-11 {
  display: none;
}

.image-12 {
  max-width: none;
  min-width: 100%;
}

.image-13 {
  max-width: 100%;
}

.team-grid {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-6 {
  background-image: linear-gradient(to top, #000, #9e9e9e);
  padding-top: 2%;
  padding-bottom: 5%;
  display: none;
}

.div-block-7 {
  background-image: linear-gradient(#000, #9e9e9e);
  padding-top: 2%;
  padding-bottom: 5%;
  display: none;
}

@media screen and (max-width: 991px) {
  .body {
    background-color: #151515;
  }

  .icon {
    color: #fff;
  }

  .h3 {
    font-size: 2.5vh;
  }

  .nav-link {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
  }

  .text-block-4 {
    text-align: center;
    padding-left: 18px;
  }

  .nav-link-dd-2 {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
  }

  .image-3 {
    width: 75vw;
    max-width: 80vw;
  }

  .link-block-2 {
    text-decoration: none;
  }

  .nav-menu {
    background-color: #151515;
    margin-top: 0%;
  }

  .menu-button {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .nav-link-2 {
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    text-decoration: none;
    display: flex;
  }

  .image-4 {
    margin-top: 3%;
  }

  .section-2 {
    min-height: 100%;
    justify-content: center;
    margin-bottom: 0%;
  }

  .container-2 {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .grid {
    max-height: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .heading {
    padding-right: 3%;
    font-size: 1.25em;
  }

  .paragraph {
    padding-right: 3%;
  }

  .heading-2 {
    width: 66vw;
    font-size: 3em;
    line-height: 2em;
  }

  .collection-list {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }

  .heading-3 {
    width: 60vw;
  }

  .section-20 {
    max-height: 100vh;
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .div-block-31 {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-6 {
    width: 100%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .div-block-16 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .image-9 {
    max-width: 50vw;
  }

  .div-block-19 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .h6 {
    margin-top: 0;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 3vh;
  }

  .p1 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .heading-4 {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .section-21 {
    padding-top: 5%;
  }

  .h5 {
    width: 100%;
  }

  .heading-5 {
    width: 70vw;
    margin-top: 0%;
    margin-bottom: 10%;
    font-size: 4em;
  }

  .list {
    margin-left: 8%;
    margin-right: 8%;
  }

  .button {
    width: 55vw;
  }

  .h1 {
    font-size: 6vh;
  }

  .h2 {
    font-size: 5vh;
  }

  .hb, .paragraph-copy {
    padding-right: 3%;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  .p3 {
    padding-right: 3%;
  }

  .h3-copy {
    font-size: 2vh;
  }

  .html-embed {
    display: none;
  }

  .image-11 {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .h3 {
    font-size: 2vh;
  }

  .image-3 {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .background-video {
    height: 55vh;
  }

  .section-2 {
    justify-content: center;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .heading-2 {
    width: 75vw;
    margin-top: 5%;
    font-size: 2.5em;
  }

  .collection-list {
    grid-template-columns: repeat(auto-fit, minmax(377px, 1fr));
    margin-left: auto;
    margin-right: auto;
  }

  .collection-list-wrapper {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .collection-item {
    width: 100%;
    height: auto;
    background-image: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .image-5 {
    max-width: 33vw;
  }

  .div-block-3 {
    padding-left: 48px;
    padding-right: 48px;
  }

  .container-3 {
    max-width: 90%;
  }

  .div-block-4 {
    padding-bottom: 1%;
  }

  .heading-3 {
    width: 80vw;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .link-block-3 {
    width: 100.086%;
    height: 100%;
    text-align: center;
    flex-direction: row;
    flex: 1;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
  }

  .div-block-31 {
    width: 90vw;
  }

  .grid-6 {
    grid-template-columns: minmax(200px, 1fr);
  }

  .div-block-16 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .image-9 {
    max-width: 75vw;
  }

  .div-block-19 {
    margin-left: auto;
    margin-right: auto;
  }

  .h6 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 3vh;
  }

  .heading-4 {
    width: 90vw;
  }

  .heading-5 {
    margin-top: 5%;
  }

  .list {
    margin-left: 5%;
    margin-right: 5%;
  }

  .button {
    width: 70vw;
  }

  .h1 {
    font-size: 6vh;
  }

  .h2 {
    font-size: 3.5vh;
  }

  .paragraph-copy {
    max-width: 90%;
  }

  .grid-1, .grid-3 {
    grid-template-columns: 1fr;
  }

  .h3-copy {
    font-size: 2vh;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }

  .div-block-6 {
    padding-bottom: 1%;
  }
}

@media screen and (max-width: 479px) {
  .icon {
    color: #fff;
    border: 1px #fff;
  }

  .h3 {
    font-size: 11px;
  }

  .image-3 {
    width: 80vw;
    max-width: 80%;
  }

  .background-video {
    height: 45vh;
    max-height: none;
    min-height: auto;
  }

  .navbar {
    justify-content: center;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .nav-menu {
    background-color: #181818;
    margin-top: 0%;
  }

  .menu-button {
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .container {
    height: 40vh;
    align-self: center;
  }

  .image-4 {
    margin-top: 3%;
  }

  .section-2 {
    width: 100vw;
    max-width: 100vw;
    justify-content: center;
  }

  .container-2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .grid {
    flex: 1;
    align-self: center;
    align-items: center;
    justify-items: center;
  }

  .heading {
    width: 100%;
    max-width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    line-height: 34px;
    display: flex;
  }

  .heading-2 {
    width: 90%;
    margin-top: 15%;
    font-size: 1.6em;
  }

  .collection-list {
    grid-template-columns: 1fr;
  }

  .collection-list-wrapper {
    width: 90vw;
  }

  .collection-item {
    min-height: 40vh;
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  .image-5 {
    display: block;
  }

  .div-block-3 {
    width: 100%;
    max-width: 100%;
    padding-left: 14px;
    padding-right: 14px;
  }

  .container-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .heading-3 {
    white-space: normal;
    margin-top: -24px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .div-block-31 {
    width: 90vw;
  }

  .grid-6 {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  .image-9 {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .h6 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 2.5vh;
    line-height: 3vh;
  }

  .p1 {
    text-align: justify;
    padding-left: 12px;
    padding-right: 12px;
  }

  .heading-4 {
    font-size: 1.5em;
    line-height: 1.7em;
  }

  .h5 {
    font-size: 1.4em;
  }

  .heading-5 {
    width: 90vw;
    margin-top: 30%;
    font-size: 3em;
  }

  .heading-6 {
    margin-top: 30px;
    font-size: 1.5em;
  }

  .button {
    width: 80vw;
    font-size: 1.7em;
  }

  .button:hover {
    transform: scale(1.2);
  }

  .heading-7 {
    padding-left: 0;
    font-size: 2em;
  }

  .h1 {
    font-size: 32px;
  }

  .h2 {
    margin-bottom: 0;
    font-size: 1.25em;
  }

  .hb {
    width: 100%;
    max-width: 100%;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1em;
    line-height: 34px;
    display: flex;
  }

  .grid-1 {
    flex: 1;
    align-self: center;
    align-items: center;
    justify-items: center;
  }

  .image-10 {
    min-height: auto;
  }

  .grid-3 {
    flex: 1;
    align-self: center;
    align-items: center;
    justify-items: center;
  }

  .h3-copy {
    font-size: 11px;
  }

  .team-grid {
    flex: 1;
    align-self: center;
    align-items: center;
    justify-items: center;
  }
}

#w-node-e349f3e1-7edb-53a3-ae06-1285c5a7a155-30730781, #w-node-a0b19538-0f43-707a-db32-abf9e862fa25-30730781, #w-node-a172561e-c7a2-8a8b-c800-0991b3d509bd-30730781, #w-node-f134acea-1cbe-da53-bbf7-ddef4c8091b0-30730781, #w-node-e65ad719-6373-abbc-a455-0944e3b70032-30730781 {
  align-self: center;
}

#w-node-d5cdec85-bdaa-e6c4-6e7a-a34313a1748a-30730781 {
  align-self: center;
  justify-self: center;
}

#w-node-d5cdec85-bdaa-e6c4-6e7a-a34313a1747c-30730781 {
  align-self: center;
}

#w-node-ceb9216e-dbd8-bb08-b377-ac1e56e552e9-30730781 {
  align-self: center;
  justify-self: center;
}

#w-node-ceb9216e-dbd8-bb08-b377-ac1e56e552dd-30730781 {
  align-self: center;
}

#w-node-aa47027f-9012-1aea-06ce-488ce5940694-30730781, #w-node-aa47027f-9012-1aea-06ce-488ce5940696-30730781, #w-node-aa47027f-9012-1aea-06ce-488ce5940698-30730781, #w-node-_01bfefb9-1af7-c289-fb2b-5e4a95aae05b-30730781, #w-node-bbf81b79-839c-5371-744b-e78845bed668-30730781 {
  align-self: start;
}

#w-node-e88ac608-1081-ab64-701b-c9861d361d08-30730781, #w-node-e88ac608-1081-ab64-701b-c9861d361d0c-30730781 {
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-_9bbf4ec0-b52a-ff42-945a-df18ae911022-30730781 {
    align-self: center;
    justify-self: center;
  }

  #w-node-e349f3e1-7edb-53a3-ae06-1285c5a7a155-30730781 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
  }

  #w-node-bf0a1a87-2ebb-f9cb-10e2-0684f0f762ad-30730781 {
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-e349f3e1-7edb-53a3-ae06-1285c5a7a155-30730781, #w-node-a0b19538-0f43-707a-db32-abf9e862fa25-30730781, #w-node-a172561e-c7a2-8a8b-c800-0991b3d509bd-30730781, #w-node-f134acea-1cbe-da53-bbf7-ddef4c8091b0-30730781, #w-node-e65ad719-6373-abbc-a455-0944e3b70032-30730781, #w-node-d5cdec85-bdaa-e6c4-6e7a-a34313a1747c-30730781, #w-node-ceb9216e-dbd8-bb08-b377-ac1e56e552dd-30730781, #w-node-aa47027f-9012-1aea-06ce-488ce5940694-30730781, #w-node-aa47027f-9012-1aea-06ce-488ce5940696-30730781, #w-node-aa47027f-9012-1aea-06ce-488ce5940698-30730781, #w-node-_01bfefb9-1af7-c289-fb2b-5e4a95aae05b-30730781, #w-node-bbf81b79-839c-5371-744b-e78845bed668-30730781, #w-node-e88ac608-1081-ab64-701b-c9861d361d08-30730781, #w-node-e88ac608-1081-ab64-701b-c9861d361d0c-30730781 {
    align-self: center;
    justify-self: center;
  }
}


@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ThinItalic.woff2') format('woff2'), url('../fonts/Inter-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Thin.woff2') format('woff2'), url('../fonts/Inter-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-MediumItalic.woff2') format('woff2'), url('../fonts/Inter-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.woff2') format('woff2'), url('../fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-LightItalic.woff2') format('woff2'), url('../fonts/Inter-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.woff2') format('woff2'), url('../fonts/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBoldItalic.woff2') format('woff2'), url('../fonts/Inter-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'), url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff2') format('woff2'), url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter roman';
  src: url('../fonts/Inter-roman.var.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraLight.woff2') format('woff2'), url('../fonts/Inter-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraLightItalic.woff2') format('woff2'), url('../fonts/Inter-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Italic.woff2') format('woff2'), url('../fonts/Inter-italic.var.woff2') format('woff2'), url('../fonts/Inter-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'), url('../fonts/Inter-Bold.woff2') format('woff2'), url('../fonts/Inter-ExtraBold.woff') format('woff'), url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-BoldItalic.woff2') format('woff2'), url('../fonts/Inter-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/Inter-ExtraBoldItalic.woff') format('woff'), url('../fonts/Inter-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-BlackItalic.woff2') format('woff2'), url('../fonts/Inter-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'TitleGothic';
  src: url('../fonts/fashertitle_black-webfont.woff2') format('woff2'), url('../fonts/fashertitle_black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TitleGothic';
  src: url('../fonts/fashertitle_bold-webfont.woff2') format('woff2'), url('../fonts/fashertitle_bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TitleGothic';
  src: url('../fonts/fashertitle_med-webfont.woff2') format('woff2'), url('../fonts/fashertitle_med-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}